<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ba52fcc0fa.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="shortcut icon" type="image/ico" href="../static/img/favicon.ico"/>
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Alcancia | Ingresos</title>
</head>
<body>
    <header>
        <a href="/" style="font-size: 35px;display: flex;align-items: center;text-decoration: none;color: #cb89c9;font-weight: 700;">
            <img src="../static/img/favicon.ico" alt="" height="40px" width="40px" style="margin-right: 5px;">
            Alcancia
        </a>
    </header>
    <main>
      <div class="contenedor_ingresos">
        <div class="form_ingresos">
            <h1>Ingreso de dinero</h1>
            <div class="contenedor_cont_ing" style="display: flex;">
                <div class="contenedor_dinero_ing">
                    <div class="contenedor_saldo_ing">
                        <p>Saldo: <span class="txt_saldo_ing">$<span id="lblSaldo">0.00</span></span></p>
                    </div>
                    $<input type="text" class="input_dinero_ing" name="" id="valIngreso" value="0.00" style="caret-color: transparent;" onfocus="clickValIngreso(this)" >
                </div>
                <div class="contenedor_detalles_ing">
                    <label class="label_ing" for="fechaIngreso">Fecha de ingreso:</label>
                    <input type="date" class="input_val_ing input_fecha_ing" id="fechaIngreso">
                    <label class="label_ing" for="txtMotivo">Motivo de ingreso:</label>
                    <input type="text" class="input_val_ing input_razon_ing" id="txtMotivo">
                    <input type="checkbox" class="check_limite_ing" id="cbLimite" onchange="toggleBloqueLimite()"> <label for="cbLimite">Establecer limite de gasto</label>
                    <div class="limite_gas_ing" id="limite_gas_ing" style="display: none;">
                        <label class="label_ing" for="valLimite">Ingrese limite de gasto:</label>
                        <input type="text" class="input_val_ing input_limite_ing" name="" id="valLimite" value="0%" onchange="formatearPorc()">
                    </div>
                </div>
            </div>
            <button class="btn_enviar_ing" onclick="acreditar()">Acreditar valor</button>
        </div>
      </div>  
    </main>
    <footer>
        <p>&#169;Creado por Alejandro Moreira</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="/static/scripts/ingreso.js"></script>
</body>
</html>